
<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img src="{{baseHref}}/assets/images/2019-signalbase-color.png" alt="logo">
      <span class="spacer"></span>
      <button mat-icon-button class="icon" 
        *ngIf="isAuthenticated$ | async as isAuthenticated"
        [matMenuTriggerFor]="menu">
      <mat-icon>account_box</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
      </mat-menu>
      <div *ngIf="isAuthenticated$ | async as isAuthenticated; else elseBlock">
          <button mat-icon-button class="icon" 
            (click)="logout()"
            matTooltip="Log Off"
            aria-label="Log Off Button">
            <mat-icon>exit_to_app</mat-icon>
          </button>
      </div>
        <ng-template #elseBlock>
          <button mat-icon-button class="icon" 
            (click)="login()"
            matTooltip="Log On"
            aria-label="Log On Button">
            <mat-icon>login</mat-icon>
          </button>
        </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-nav-list>
        <a mat-list-item routerLink="/table"><mat-icon>dashboard</mat-icon><span>Table</span></a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content> 
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="push"></div>
</div>
<mat-toolbar color="grey" class="footer">
  Powered by Signalbase, Inc
</mat-toolbar>