.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background-image: url(../assets/images/DotGrid.png);
    margin-bottom: -50px;
    background-color: #eeeeee;
  }

  img {
    max-width: 200px;
    height: auto;
  }

  .toolbar {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  } 
  
  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {

    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    //background-color: #eeeeee;
    //background-color: #808080;
    //background: url('../../assets/DotGrid.png') no-repeat center center fixed;
    //background-image: url(../assets/images/DotGrid.png);
    //background-image: url(../assets/images/vector-polka-background-with-small-dots.jpg);
    //https://www.transparenttextures.com/
    background-image: url(../assets/images/worn-dots.png);
  }
  

  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .icon {
    margin-right: 8px;
  }

  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    
  }
  .spacer {
    flex: 1 1 auto;
  }
  
  .footer,
  .push {
    height: 50px;
  }