html, body { height: 100%; }
body, h1, h2, h3, .mat-card-title { margin: 0; font-family: monospace}

.footer {
    padding-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

.center {
    margin: auto;
    padding: 5px;
    align-items: center;
}

.input-50 mat-form-field,
.input-50 a{
    padding: 5px;
    width: 50%;
}

.input-100 mat-form-field,
.input-100 b{
    padding: 5px;
    width: 100%;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer {
    flex: 1 1 auto;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }